body{
  text-align: center;
   
  background-color:aqua;
}
 
  .container { 
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;

    background-color:white;
    margin: 15% 30% auto 30%;
    padding: 10px 10px 10px 10px;
    border-color: black;
  }
    input {
      padding: 5px;
      font-size: 15px;
      width: auto;
      border-width: 1px; ;
      /* box-sizing:border-box; */
  
    }
  
  .un , .pd{
    display: flexbox;
  }
  
  label, input  {
   
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
    font-size:larger;
  }
  
  
  button {
    margin: 20px 0;
    width: 100;
    padding: 5px 10px;
    font-size: 18px;
    background-color: lightblue;
    color:black;
    border-width: 1px ;
    border-radius : 3px;
    cursor: pointer;
  }
    
